#####################################################
#
# List of approvers for OpenTelemetry Collector Contrib
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
#
#
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#
# NOTE: Lines should be entered in the following format:
# <component_path_relative_from_project_root>/<min_1_space><owner_1><space><owner_2><space>..<owner_n>
# extension/oauth2clientauthextension/                 #xxxx #x12345 #x5132421 #x121717
# Path separator and minimum of 1 space between component path and owners is
# important for validation steps
#

* #xxxx

cmd/configschema/                                    #xxxx #x12345 #x5132421 #x121717
cmd/mdatagen/                                        #xxxx #x12345 #x5132421 #x121717
cmd/otelcontribcol/                                  #xxxx #x12345 #x5132421 #x121717
cmd/telemetrygen/                                    #xxxx #x12345 #x5132421 #x121717
cmd/tracegen/                                        #xxxx #x12345 #x5132421 #x121717

confmap/provider/s3provider/                         #xxxx #x12345 #x5132421 #x121717

examples/demo/                                       #xxxx #x12345 #x5132421 #x121717

exporter/alibabacloudlogserviceexporter/             #xxxx #x12345 #x5132421 #x121717
exporter/awscloudwatchlogsexporter/                  #xxxx #x12345 #x5132421 #x121717
exporter/awsemfexporter/                             #xxxx #x12345 #x5132421 #x121717
exporter/awskinesisexporter/                         #xxxx #x12345 #x5132421 #x121717
exporter/awsxrayexporter/                            #xxxx #x12345 #x5132421 #x121717
exporter/azuremonitorexporter/                       #xxxx #x12345 #x5132421 #x121717
exporter/azuredataexplorerexporter/                  #xxxx #x12345 #x5132421 #x121717
exporter/carbonexporter/                             #xxxx #x12345 #x5132421 #x121717
exporter/clickhouseexporter/                         #xxxx #x12345 #x5132421 #x121717
exporter/coralogixexporter/                          #xxxx #x12345 #x5132421 #x121717
exporter/datadogexporter/                            #xxxx #x12345 #x5132421 #x121717
exporter/dynatraceexporter/                          #xxxx #x12345 #x5132421 #x121717
exporter/elasticsearchexporter/                      #xxxx #x12345 #x5132421 #x121717
exporter/f5cloudexporter/                            #xxxx #x12345 #x5132421 #x121717
exporter/fileexporter/                               #xxxx #x12345 #x5132421 #x121717
exporter/googlecloudexporter/                        #xxxx #x12345 #x5132421 #x121717
exporter/googlemanagedprometheusexporter/            #xxxx #x12345 #x5132421 #x121717
exporter/googlecloudpubsubexporter/                  #xxxx #x12345 #x5132421 #x121717
exporter/humioexporter/                              #xxxx #x12345 #x5132421 #x121717
exporter/influxdbexporter/                           #xxxx #x12345 #x5132421 #x121717
exporter/instanaexporter/                            #xxxx #x12345 #x5132421 #x121717
exporter/jaegerexporter/                             #xxxx #x12345 #x5132421 #x121717
exporter/jaegerthrifthttpexporter/                   #xxxx #x12345 #x5132421 #x121717
exporter/kafkaexporter/                              #xxxx #x12345 #x5132421 #x121717
exporter/loadbalancingexporter/                      #xxxx #x12345 #x5132421 #x121717
exporter/logzioexporter/                             #xxxx #x12345 #x5132421 #x121717
exporter/lokiexporter/                               #xxxx #x12345 #x5132421 #x121717
exporter/mezmoexporter/                              #xxxx #x12345 #x5132421 #x121717
exporter/opencensusexporter/                         #xxxx #x12345 #x5132421 #x121717
exporter/parquetexporter/                            #xxxx #x12345 #x5132421 #x121717
exporter/prometheusexporter/                         #xxxx #x12345 #x5132421 #x121717
exporter/prometheusremotewriteexporter/              #xxxx #x12345 #x5132421 #x121717
exporter/pulsarexporter/                             #xxxx #x12345 #x5132421 #x121717
exporter/sapmexporter/                               #xxxx #x12345 #x5132421 #x121717
exporter/sentryexporter/                             #xxxx #x12345 #x5132421 #x121717
exporter/signalfxexporter/                           #xxxx #x12345 #x5132421 #x121717
exporter/skywalkingexporter/                         #xxxx #x12345 #x5132421 #x121717
exporter/splunkhecexporter/                          #xxxx #x12345 #x5132421 #x121717
exporter/sumologicexporter/                          #xxxx #x12345 #x5132421 #x121717
exporter/tanzuobservabilityexporter/                 #xxxx #x12345 #x5132421 #x121717
exporter/tencentcloudlogserviceexporter/             #xxxx #x12345 #x5132421 #x121717
exporter/zipkinexporter/                             #xxxx
exporter/doesntexistexporter/                        #xxxx @evan-bradley

extension/asapauthextension/                         #xxxx #x12345 #x5132421 #x121717
extension/awsproxy/                                  #xxxx #x12345 #x5132421 #x121717
extension/basicauthextension/                        #xxxx #x12345 #x5132421 #x121717
extension/bearertokenauthextension/                  #xxxx #x12345 #x5132421 #x121717
extension/headerssetterextension/                    #xxxx #x12345 #x5132421 #x121717
extension/healthcheckextension/                      #xxxx #x12345 #x5132421 #x121717
extension/jaegerremotesampling/                      #xxxx #x12345 #x5132421 #x121717
extension/oauth2clientauthextension/                 #xxxx #x12345 #x5132421 #x121717
extension/observer/                                  #xxxx #x12345 #x5132421 #x121717
extension/observer/dockerobserver/                   #xxxx #x12345 #x5132421 #x121717
extension/observer/ecstaskobserver/                  #xxxx #x12345 #x5132421 #x121717
extension/observer/hostobserver/                     #xxxx #x12345 #x5132421 #x121717
extension/observer/k8sobserver/                      #xxxx #x12345 #x5132421 #x121717
extension/oidcauthextension/                         #xxxx #x12345 #x5132421 #x121717
extension/pprofextension/                            #xxxx #x12345 #x5132421 #x121717
extension/sigv4authextension/                        #xxxx #x12345 #x5132421 #x121717
extension/storage/                                   #xxxx #x12345 #x5132421 #x121717
extension/storage/dbstorage/                         #xxxx #x12345 #x5132421 #x121717
extension/storage/filestorage/                       #xxxx #x12345 #x5132421 #x121717

internal/aws/                                        #xxxx #x12345 #x5132421 #x121717
internal/docker/                                     #xxxx #x12345 #x5132421 #x121717

internal/k8sconfig/                                  #xxxx #x12345 #x5132421 #x121717
internal/kubelet/                                    #xxxx #x12345 #x5132421 #x121717
internal/metadataproviders/                          #xxxx #x12345 #x5132421 #x121717
internal/scrapertest/                                #xxxx #x12345 #x5132421 #x121717
internal/splunk/                                     #xxxx #x12345 #x5132421 #x121717
internal/tools/                                      #xxxx
internal/coreinternal/                               #xxxx #x12345 #x5132421 #x121717
internal/sharedcomponent/                            #xxxx #x12345 #x5132421 #x121717

pkg/batchpersignal/                                  #xxxx #x12345 #x5132421 #x121717
pkg/resourcetotelemetry/                             #xxxx #x12345 #x5132421 #x121717
pkg/stanza/                                          #xxxx #x12345 #x5132421 #x121717
pkg/ottl/                                            #xxxx #x12345 #x5132421 #x121717
pkg/translator/jaeger/                               #xxxx #x12345 #x5132421 #x121717
pkg/translator/loki/                                 #xxxx #x12345 #x5132421 #x121717
pkg/translator/opencensus/                           #xxxx #x12345 #x5132421 #x121717
pkg/translator/prometheus/                           #xxxx #x12345 #x5132421 #x121717
pkg/translator/prometheusremotewrite/                #xxxx #x12345 #x5132421 #x121717
pkg/translator/signalfx/                             #xxxx #x12345 #x5132421 #x121717
pkg/translator/zipkin/                               #xxxx #x12345 #x5132421 #x121717
pkg/winperfcounters/                                 #xxxx #x12345 #x5132421 #x121717
pkg/batchperresourceattr/                            #xxxx #x12345 #x5132421 #x121717
pkg/doesntexist/                                     #xxxx @evan-bradley

processor/attributesprocessor/                       #xxxx #x12345 #x5132421 #x121717
processor/cumulativetodeltaprocessor/                #xxxx #x12345 #x5132421 #x121717
processor/deltatorateprocessor/                      #xxxx #x12345 #x5132421 #x121717
processor/filterprocessor/                           #xxxx #x12345 #x5132421 #x121717
processor/groupbyattrsprocessor/                     #xxxx
processor/groupbytraceprocessor/                     #xxxx #x12345 #x5132421 #x121717
processor/k8sattributesprocessor/                    #xxxx #x12345 #x5132421 #x121717
processor/logstransformprocessor/                    #xxxx #x12345 #x5132421 #x121717
processor/metricsgenerationprocessor/                #xxxx #x12345 #x5132421 #x121717
processor/metricstransformprocessor/                 #xxxx #x12345 #x5132421 #x121717
processor/probabilisticsamplerprocessor/             #xxxx #x12345 #x5132421 #x121717
processor/redactionprocessor/                        #xxxx #x12345 #x5132421 #x121717
processor/resourcedetectionprocessor/                #xxxx #x12345 #x5132421 #x121717
processor/resourceprocessor/                         #xxxx #x12345 #x5132421 #x121717
processor/resourcedetectionprocessor/internal/azure/ #xxxx #x12345 #x5132421 #x121717
processor/routingprocessor/                          #xxxx #x12345 #x5132421 #x121717
processor/schemaprocessor/                           #xxxx #x12345 #x5132421 #x121717
processor/servicegraphprocessor/                     #xxxx #x12345 #x5132421 #x121717
processor/spanmetricsprocessor/                      #xxxx #x12345 #x5132421 #x121717
processor/spanprocessor/                             #xxxx #x12345 #x5132421 #x121717
processor/tailsamplingprocessor/                     #xxxx #x12345 #x5132421 #x121717
processor/transformprocessor/                        #xxxx #x12345 #x5132421 #x121717
processor/doesntexistprocessor/                      #xxxx @evan-bradley

receiver/azureeventhubreceiver/                      #xxxx #x12345 #x5132421 #x121717
receiver/activedirectorydsreceiver/                  #xxxx #x12345 #x5132421 #x121717
receiver/aerospikereceiver/                          #xxxx #x12345 #x5132421 #x121717
receiver/apachereceiver/                             #xxxx #x12345 #x5132421 #x121717
receiver/awscloudwatchreceiver/                      #xxxx #x12345 #x5132421 #x121717
receiver/awscontainerinsightreceiver/                #xxxx #x12345 #x5132421 #x121717
receiver/awsecscontainermetricsreceiver/             #xxxx #x12345 #x5132421 #x121717
receiver/awsfirehosereceiver/                        #xxxx #x12345 #x5132421 #x121717
receiver/awsxrayreceiver/                            #xxxx #x12345 #x5132421 #x121717
receiver/azureblobreceiver/                          #xxxx #x12345 #x5132421 #x121717
receiver/bigipreceiver/                              #xxxx #x12345 #x5132421 #x121717
receiver/carbonreceiver/                             #xxxx #x12345 #x5132421 #x121717
receiver/chronyreceiver/                             #xxxx #x12345 #x5132421 #x121717
receiver/cloudfoundryreceiver/                       #xxxx #x12345 #x5132421 #x121717
receiver/collectdreceiver/                           #xxxx #x12345 #x5132421 #x121717
receiver/couchdbreceiver/                            #xxxx #x12345 #x5132421 #x121717
receiver/dockerstatsreceiver/                        #xxxx #x12345 #x5132421 #x121717
receiver/elasticsearchreceiver/                      #xxxx #x12345 #x5132421 #x121717
receiver/expvarreceiver/                             #xxxx #x12345 #x5132421 #x121717
receiver/filelogreceiver/                            #xxxx #x12345 #x5132421 #x121717
receiver/flinkmetricsreceiver/                       #xxxx #x12345 #x5132421 #x121717
receiver/fluentforwardreceiver/                      #xxxx #x12345 #x5132421 #x121717
receiver/googlecloudpubsubreceiver/                  #xxxx #x12345 #x5132421 #x121717
receiver/googlecloudspannerreceiver/                 #xxxx #x12345 #x5132421 #x121717
receiver/hostmetricsreceiver/                        #xxxx #x12345 #x5132421 #x121717
receiver/httpcheckreceiver/                          #xxxx #x12345 #x5132421 #x121717
receiver/influxdbreceiver/                           #xxxx #x12345 #x5132421 #x121717
receiver/iisreceiver/                                #xxxx #x12345 #x5132421 #x121717
receiver/jaegerreceiver/                             #xxxx #x12345 #x5132421 #x121717
receiver/jmxreceiver/                                #xxxx #x12345 #x5132421 #x121717
receiver/journaldreceiver/                           #xxxx
receiver/k8sclusterreceiver/                         #xxxx #x12345 #x5132421 #x121717
receiver/k8seventsreceiver/                          #xxxx #x12345 #x5132421 #x121717
receiver/k8sobjectsreceiver/                         #xxxx #x12345 #x5132421 #x121717
receiver/kafkametricsreceiver/                       #xxxx #x12345 #x5132421 #x121717
receiver/kafkareceiver/                              #xxxx #x12345 #x5132421 #x121717
receiver/kubeletstatsreceiver/                       #xxxx #x12345 #x5132421 #x121717
receiver/memcachedreceiver/                          #xxxx #x12345 #x5132421 #x121717
receiver/mongodbreceiver/                            #xxxx #x12345 #x5132421 #x121717
receiver/mongodbatlasreceiver/                       #xxxx #x12345 #x5132421 #x121717
receiver/mysqlreceiver/                              #xxxx #x12345 #x5132421 #x121717
receiver/nginxreceiver/                              #xxxx #x12345 #x5132421 #x121717
receiver/nsxtreceiver/                               #xxxx #x12345 #x5132421 #x121717
receiver/opencensusreceiver/                         #xxxx #x12345 #x5132421 #x121717
receiver/oracledbreceiver/                           #xxxx #x12345 #x5132421 #x121717
receiver/podmanreceiver/                             #xxxx #x12345 #x5132421 #x121717
receiver/otlpjsonfilereceiver/                       #xxxx #x12345 #x5132421 #x121717
receiver/postgresqlreceiver/                         #xxxx #x12345 #x5132421 #x121717
receiver/prometheusexecreceiver/                     #xxxx #x12345 #x5132421 #x121717
receiver/prometheusreceiver/                         #xxxx #x12345 #x5132421 #x121717
receiver/rabbitmqreceiver/                           #xxxx #x12345 #x5132421 #x121717
receiver/pulsarreceiver/                             #xxxx #x12345 #x5132421 #x121717
receiver/receivercreator/                            #xxxx #x12345 #x5132421 #x121717
receiver/redisreceiver/                              #xxxx #x12345 #x5132421 #x121717
receiver/riakreceiver/                               #xxxx #x12345 #x5132421 #x121717
receiver/saphanareceiver/                            #xxxx #x12345 #x5132421 #x121717
receiver/sapmreceiver/                               #xxxx #x12345 #x5132421 #x121717
receiver/signalfxreceiver/                           #xxxx #x12345 #x5132421 #x121717
receiver/simpleprometheusreceiver/                   #xxxx #x12345 #x5132421 #x121717
receiver/skywalkingreceiver/                         #xxxx #x12345 #x5132421 #x121717
receiver/snmpreceiver/                               #xxxx #x12345 #x5132421 #x121717
receiver/solacereceiver/                             #xxxx #x12345 #x5132421 #x121717
receiver/splunkhecreceiver/                          #xxxx #x12345 #x5132421 #x121717
receiver/snowflakereceiver/                          #xxxx #x12345 #x5132421 #x121717
receiver/sqlqueryreceiver/                           #xxxx #x12345 #x5132421 #x121717
receiver/sqlserverreceiver/                          #xxxx #x12345 #x5132421 #x121717
receiver/statsdreceiver/                             #xxxx #x12345 #x5132421 #x121717
receiver/syslogreceiver/                             #xxxx #x12345 #x5132421 #x121717
receiver/tcplogreceiver/                             #xxxx #x12345 #x5132421 #x121717
receiver/udplogreceiver/                             #xxxx #x12345 #x5132421 #x121717
receiver/vcenterreceiver/                            #xxxx #x12345 #x5132421 #x121717
receiver/wavefrontreceiver/                          #xxxx #x12345 #x5132421 #x121717
receiver/windowseventlogreceiver/                    #xxxx #x12345 #x5132421 #x121717
receiver/windowsperfcountersreceiver/                #xxxx #x12345 #x5132421 #x121717
receiver/zipkinreceiver/                             #xxxx
receiver/zookeeperreceiver/                          #xxxx #x12345 #x5132421 #x121717

testbed/                                             #xxxx #x12345 #x5132421 #x121717
testbed/mockdatareceivers/mockawsxrayreceiver/       #xxxx #x12345 #x5132421 #x121717
